.countries {
  margin-top: 50px;

  &__list {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

    @media (max-width: 650px) {
      justify-content: center;
    }
  }
}

.country {
  width: 250px;
  background-color: $white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 3px 5px rgba($black, 0.1);
  @media (max-width: 600px) {
    width: 300px;
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-100;

    h3 {
      font-weight: 500;
      font-size: 20px;
    }
  }

  &__flag {
    width: 25px;
    height: 25px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &__data {
    margin-top: 20px;

    &--item {
      display: flex;
      align-items: center;
      gap: 15px;

      &:not(:first-child) {
        margin-top: 15px;
      }

      span {
        text-transform: capitalize;
      }
    }
  }

  &__btn {
    button {
      width: 100%;
      padding: 10px;
      color: $white;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      outline: none;
      border: none;
      background-color: $pink;
      cursor: pointer;
      margin-top: 20px;
      border-radius: 3px;
    }
  }
}
