.searcher {
  margin-bottom: 50px;

  &__input {
    display: flex;
    align-items: center;
    @media (max-width: 650px) {
      display: flex;
      justify-content: center;
    }
  }

  input {
    width: 62%;
    padding: 10px;
    outline: none;
    border: 1px solid $gray;
    border-radius: 3px;
    font-family: inherit;
    font-size: 16px;
    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__icon {
    transform: translateX(-30px);
    color: $gray;
  }
}
