.sidebar {
  flex: 2;
  background-color: $white;
  padding: 50px 20px;

  @media (max-width: 650px) {
    display: none;
  }

  &__menu {
    margin-top: 50px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 3px;
    transition: all 0.2s ease;

    &:hover,
    &.active {
      @include linkStyles;
    }

    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}
